{% extends './layout.html' %}

{% block title -%}
标签 - {{options.title}}
{%- endblock %}

{% block headers -%}
<link rel="canonical" href="{{site_url}}/tags" />
{%- endblock %}

{% block content %}
<div class="bdwd main clearfix">
    <div class="main_center">
      <div class="postcontent">
        <div class="post_path">
          <a href="/">首页</a>
          >
          <a href="{{post.path}}">标签</a>
        </div>

        <h1 class="post_title">{{tag.name}}</h1>
        <div class="post_txt">
          	<section>
        	{% for tag in tags %}
            <a href="/tag/{{tag.pathname}}" data-tag="{{tag.name}}">{{tag.name}}({{tag.count}})</a>
            {% endfor %}
            </section>
        </div>
      </div>
    </div>
</div>

{% endblock %}
